.container {
    display: flex;
    justify-content: center;
    background-color: aquamarine;

}

h1 {
    padding: 25px 0px 25px 0px;
}

#bigWrapper {
    display: flex;
}

#formWrapper {
    display: inline-block;
    flex-flow: column wrap;
    align-items: flex-start;


}

#tableWrapper {
    display: inline-block;
    flex-flow: column wrap;
    align-items: flex-end;
}
/*for testing tables */
table {
    height: 20rem;
    width: 20rem;
}
table, td {
    border: 1px solid cyan;
    background-color: antiquewhite;
}